.bg-image {
    background-image: url("https://res.cloudinary.com/daoa45pcf/image/upload/v1669304327/samples/project%207%20wonders/Great%20wall%20of%20China/pexels-zhanqun-cai-7897550_sgsmj9.jpg");
    height: 100%;
    background-size: cover;
}
.card-container{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
}
.heading{
    font-weight: bold;
    font-size: 60px;
    padding-left: 300px;
    color: white;
}
.container-heading{
    font-weight: bold;
    font-size: 45px;
    padding: 30px;
}
.para{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.image-caurosal{
    width: 1600px;
    height: 400px;
}
.button-end-container{
    padding: 10px;
    text-align: end;
}