.bg-containerpage2{
    background-color:  #a0b6e8;
    height: 100%;
    background-size: cover;
}
.card01{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.img-21 {
    height: 180px;
    width: 160px;
    padding-left: 15px;    
}
.head02{
    size: 50px;
    padding-top: 30px;
    padding-left: 15px;
}
.back-button{
    margin: 15px;
    text-align: end;
}